{% extends 'department/layout.html' %}
{% block title %}
    Новости
{% endblock %}
{% block content %}
    <br>
    <div class="features">
        <div class="search-bar w3layouts-newsletter">
        <h3 class="sear-head editContent">Поиск новостей</h3>
        <form action="{% url 'search_news' %}" method="get" class="d-flex editContent">
            <input type="search" placeholder="Введите ключевое слово..." name="q" class="form-control" required="">
            <button type="submit" class="btn1 btn" disabled>
                <span aria-hidden="true">Найти</span>
            </button>
        </form>
    </div>
    <br>

        {% if news %}
            {% for n in news %}
                <div class="alert alert-warning">
                    <h3>{{ n.headline }}</h3>
                    <p>{{ n.date }}</p>
                    <a href="{% url 'news_details' n.id %}" class="btn btn-warning">Подробнее</a>
                </div>
            {% endfor %}
        {% else %}
            <h1>Упс, здесь ничего нет!</h1>
        {% endif %}
    </div>
{% endblock %}
{# Страничка для отображения списка новостей #}