<div id="sidebar">

  <div class="inner">

    <!-- Menu -->
    <nav id="menu">\
      <ul>
        <li>
          {% for s in sects %}
            <span class="opener">{{ s.name }}</span>
                <ul>
                  {% for a in s.article_set.all %}
                  <li><a href="{% url 'article_details' a.id %}">{{ a.name }}</a></li>
                  {% endfor %}
                </ul>
          {% endfor %}
        </li>
        <li><a href="{% url 'news_home' %}">Новости</a></li>
      </ul>
    </nav>

    <div class="featured-posts">
      <div class="heading">
        <h2><a href="../admin">Войти</a></h2>
      </div>
    </div>
    <!-- Footer -->
    <footer id="footer">
  <p>Факультет математических и компьютерных наук © 2022 Дагестанский государственный университет
367025, г.Махачкала, ул.Дзержинского, 12, тел: (8-722) 67-89-97 e-mail: matfac@dgu.ru
Разработка и поддержка сайта: khadzhimuratk@mail.ru</p>
</footer>

  </div>
</div>
